[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/eigen-git-mirror"]
	path = submodules/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
